html, body {
    height: 100%;
}

body {
    background-image: url('../assets/img/board-background.png');
    background-position: center top;
    margin: 0;
}

.btn {
    background: #ffdc10;
    border-radius: 6px;
    border:none;
    display:inline-block;
    padding:12px 24px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color: #333;
    text-align:center;
    cursor:pointer;
    white-space:nowrap;
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}

.btn:hover {
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.sub {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  margin: 0;
}

.tag {
    display:inline-block;
    padding-left:8px;
    padding-right:8px;
    text-align:center;
    border-radius: 5px;
}

.black {
    background-color:#000;
    color:#fff;
}

.white {
    background-color:#fff;
    color:#000;
}

#home .sub {
    padding-top: 8px;
}

#app-icon {
    display: block;
    height: 80px;
    width: 80px;
    margin: 0 auto;
}

#app-name {
    color: #fff;
    font-size: 44px;
    font-weight: 400;
    margin: 20px 0 0 0;
    padding: 0;
}

#join-btn {
    margin-top: 45px;
    margin-bottom: 0px;
}

#home {
    padding: 10px;
}

#board {
    width: 100%;
    max-width: 500px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#board-container {
    width: 100%;
    max-width: 500px;
    margin-left: 10px;
    margin-right: 10px;
}

.highlight-lastmove {
    box-shadow: inset 0 0 3px 3px yellow;
}

#app {
  width:100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#footer {
    font-family: Courier,monospace,sans-serif;
    position: fixed;
    bottom: .5em;
    left: .5em;
    color: #fff;
    opacity:0.8;
    text-decoration: none;
}
